<div class="container">
    <form (ngSubmit)="teste()">
        <div class="containerLogin">
 
                <h3 class="title">
                    Login in to your account
                </h3>
                <div class="orLogin">
                    <span></span>
                    <p>or</p>
                    <span></span>
                </div>
                <div class="signAccounts ">

                    <button class="iconAccount "><span class="googleIcon"></span></button>
                    <button class="iconAccount "><span class="facebookIcon"></span></button>
                    <button class="iconAccount "><span class="gitIcon"></span></button>

                </div>
          
            <div class="input inputEmail ">
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div class="input inputPassword ">
                <label for="password">Password</label>
                <input type="password" name="password">
                <i class="fas fa-search"></i>
            </div>
            <div class="containerRemember ">
                <div class="remember">
                    <input name="remember" type="checkbox" value="teste">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forgotPassword">
                    <a href="">Forgot password?</a>
                </div>
            </div>
            <div class="buttonSubmit ">
                <button type="submit">Log in</button>
            </div>
            <div class="createAccount ">
                <p>Don't have an account? <a href="">Create</a></p>
            </div>
        </div>
    </form>
    <div class="containerImg">
        <img src="../../../assets/Rectangle 1135.png" alt="" srcset="">

    </div>
</div>