<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div class="containerLogin">

            <h3 class="title">
                Login in to your account
            </h3>
            <div class="orLogin">
                <span></span>
                <p>or</p>
                <span></span>
            </div>
            <div class="signAccounts ">

                <button class="iconAccount "><span class="googleIcon"></span></button>
                <button class="iconAccount "><span class="facebookIcon"></span></button>
                <button class="iconAccount "><span class="gitIcon"></span></button>

            </div>

            <div class="input  ">
                <label for="email">Email</label>
                <div class="input inputEmail ">
                <input type="text" name="email" id="emailValue">
                <i (click)="treshValue()"><fa-icon [icon]="faTrash" ></fa-icon></i>
                </div>
            </div>
            <div class="input">
                <label for="password">Password</label>
                <div class="input inputPassword">
                <input type="password" name="password" id="password">
                <i (click)="eyePassword()"><fa-icon [icon]="faEyeSlash" id="eye" ></fa-icon></i>
            </div>
            </div>
            <div class="containerRemember ">
                <div class="remember">
                    <input name="remember" type="checkbox" value="teste">
                    <label for="remember">Remember me</label>
                </div>
                <div class="forgotPassword">
                    <p >Forgot password?</p>
                </div>
            </div>
            <div class="buttonSubmit ">
                <button type="submit">Log in</button>
            </div>
            <div class="createAccount ">
                <p>Don't have an account? <a href="">Create</a></p>
            </div>
        </div>
    </form>
    <div class="containerImg">
        <img src="../../../assets/Rectangle 1135.png" alt="" srcset="">

    </div>
</div>